body {
      background-color: #fff;
      background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/double-bubble-outline.png");
      color: #000;
      font-size: 14pt;
      background-repeat: repeat;
      
    }
    a { color: #090; }
    .nav a { color: #fff; }
    .header {
      text-align: center;
      padding: 8px;
    }
    .nav {
      background-color: #000022;
      padding: 4px;
      text-align: center;
    }
    .content {
      padding: 10px;
    }
    .footer {
      border-top: 2px ridge #000;
      text-align: center;
      font-size: 10pt;
      color: #888;
      padding: 4px;
    }